name: 'lint'
on: [pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gnosis/safe-react-eslint-plus-action@main
      with:
        npmInstall: true
